{% extends 'core/structure/base.html' %}
{% load static %}

{% block head%}
<link rel="stylesheet" href="{% static 'css/project/project_list.css' %}">
{% endblock %}

{% block content %}
<h2>Project List</h2>
<a href="{% url 'project_create' %}" class="create">Create New Project</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Customer</th>
            <th>Status</th>
            <th>Probability</th>
            <th>Responsible</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td>{{ project.name }}</a></td>
            <td>{{ project.customer }}</td>
            <td>{{ project.get_acquisition_status_display }}</td>
            <td>{{ project.acquisition_probability }}%</td>
            <td>{{ project.responsible }}</td>
            <td>
                <a href="{% url 'project_update' project.id %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'project_delete' project.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No projects available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
