{% extends "core/structure/base.html" %}
{% load static %}

{% block head %}
<title>SalesHub</title>
<link rel="stylesheet" href="{% static 'css/structure/home.css' %}">
{% endblock %}

{% block content %}

    <section class="button-section">
        <h2 class="button-section-title">Quick Access</h2>
        <div class="button-group">
            <a href="{% url 'product' %}" class="button">Overview Products</a>
            <a href="{% url 'project_list' %}" class="button">Overview Projects</a>
            <a href="{% url 'project_list' %}" class="button">Overview Categories</a>
            <a href="#link3" class="button">Excel Reports</a>
            <a href="#link4" class="button">Dashbords</a>
        </div>
    </section>
    
    <section class="info-section">

        <div class="info-part left">
            <h3>List of Products</h3>
            <ul class="product-list">
                {% for product in products %}
                    <li class="product-item">
                        <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                        <p class="short-description">{{ product.short_description }}</p>
                    </li>
                {% empty %}
                    <li>No products available.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="info-part center">
            <h3>Main Dashboard</h3>
        </div>

        <div class="info-part right">
            <h3>News</h3>
        </div>
    </section>

{% endblock %}
