{% extends "core/structure/base.html" %}
{% load static %}

{% block head %}
<title>SalesHub</title>
<link rel="stylesheet" href="{% static 'css/structure/home.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}

    <section class="button-section">
        <div class="button-group">
            <a href="{% url 'project_list' %}" class="button">Overview Projects</a>
            <a href="{% url 'product_list' %}" class="button">Overview Products</a>
            <a href="{% url 'product_list' %}" class="button">Overview Items</a>
            <a href="{% url 'dashboard' %}" class="button">Dashboards</a>
            <a href="#link" class="button">Excel Reports</a>
            <a href="{% url 'send_request' %}" class="button">Requests/Support</a>
        </div>
    </section>
    
    <section class="info-section">

        <div class="info-part left">
            <h3>List of Products</h3>
            <ul class="product-list">
                {% for product in products %}
                    <li class="product-item">
                        <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                        <p class="short-description">{{ product.short_description }}</p>
                    </li>
                {% empty %}
                    <li>No products available.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="info-part center">
            <h3>Main Dashboard</h3>
            <canvas id="revenueChart"></canvas>
        </div>

        <script>
            const ctx = document.getElementById('revenueChart').getContext('2d');
            const chart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: {{ labels|safe }},
                    datasets: [{
                        data: {{ values|safe }},
                        backgroundColor: ['#36A2EB', '#FFCE56', '#FF6384'],
                        hoverOffset: 10
                    }]
                },
                options: {
                    plugins: {
                        legend: { position: 'bottom' },
                        title: {
                            display: true,
                            text: 'Expected Revenue by Project Status'
                        }
                    }
                }
            });
        </script>
        

        <div class="info-part right">
            <h3>News</h3>
        </div>
    </section>

{% endblock %}
