{% extends 'core/structure/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/structure/list.css' %}">
{% endblock %}

{% block content %}
<h2>Product List</h2>
<a href="{% url 'product_create' %}" class="create">Create New Product</a>

<table class="table">
    <thead>
        <tr>
            <th>
                <form method="get">
                    <input type="text" name="name" value="{{ search_name }}" placeholder="Filter..." />
            </th>
            <th>
                    <input type="text" name="short_description" value="{{ search_description }}" placeholder="Filter..." />
            </th>
            <th>
                    <input type="text" name="category" value="{{ search_category }}" placeholder="Filter..." />
            </th>
            <th>
                    <button type="submit" class="btn btn-filter">Apply</button>
                </form>
            </th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Short Description</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>    
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.short_description }}</td>
            <td>{{ product.category.name }}</td>
            <td>
                <a href="{% url 'product_edit' product.id %}" class="btn btn-view">Edit</a>
                <a href="{% url 'product_delete' product.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No products available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    {% if products.has_previous %}
        <a href="?page={{ products.previous_page_number }}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}{% if request.GET.short_description %}&short_description={{ request.GET.short_description }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.sold_to %}&sold_to={{ request.GET.sold_to }}{% endif %}{% if request.GET.location %}&location={{ request.GET.location }}{% endif %}">Previous</a>
    {% endif %}

    <span>Page {{ products.number }} of {{ products.paginator.num_pages }}</span>

    {% if products.has_next %}
        <a href="?page={{ products.next_page_number }}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}{% if request.GET.short_description %}&short_description={{ request.GET.short_description }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.sold_to %}&sold_to={{ request.GET.sold_to }}{% endif %}{% if request.GET.location %}&location={{ request.GET.location }}{% endif %}">Next</a>
    {% endif %}
</div>

{% endblock %}
